/* GLOBAL */
* {
  font-family: 'Roboto', sans-serif;
  color: #1D1D1D;
} 

body {
  width: 100vw;
  height: 100vh;
  margin: 0; /* Eliminate margin  */
  overflow-x: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

svg {
  z-index: -1;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 4em;
}

h2 {
  font-family: 'Noto Sans', sans-serif;
}

h3 {
  font-family: 'Noto Sans', sans-serif;
}
/* GLOBAL CLASSES */
.btn-custom {
  background-color: #ADF7B6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  padding: 1em 2em;
  transition: 0.5s;
}

.btn-custom:hover {
  background-color: #81ca8b;
}

.btn-light-blue {
  background: #93C5FF;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 40px;
}

.btn-light-blue:hover {
  background-color: #79ace5;
}

.btn-outline {
  border: 1px solid #ADF7B6;
  background-color: #fff;
  color: #ADF7B6;
  padding: 10px 40px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.btn-outline:hover {
  background-color: #ADF7B6;
  color: #fff;
}

.bg-green {
  background-color: #ADF7B6;
}

.bg-dark-blue {
  background-color: #79ADDC;
}

.col {
  display: block;
  margin: auto;
}

.key-word-yellow {
  color: #FFEE93;
}

.key-word-white {
  color: #FFF;
}

.key-word-green {
  color: #ADF7B6;
}

.key-word-dark-blue {
  color: #79ADDC;
}

.key-word-light-blue{
  color: #93C5FF;
}

.navbar {
  opacity: 0;
  filter:alpha(opacity=0);
  transition: 0.9s;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

.navbar:hover {
  opacity: 100;
}

/* LANDING SECTION */
#landing-section{
  text-align: left;
}

/* ABOUT ME SECTION */
#about-section{
  background-color: #93C5FF;
}

/* SKILL SECTION */
.skills-header {
  text-align: right;
}

#skills-section{
  background-image: url("../assets/xray-01.png");
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 3% 5%;
}

.skill-list {
  list-style-type: none;
  font-weight: bold;
  font-size: 2em;
}

.skill-list:not(:first-of-type) {
  margin-top: 1.5em;
}

.skill-list:not(:last-of-type) {
  margin-bottom: 1.5em;
}

/* EXPERIENCE SECTION */
.experience-card {
  border: 1px solid white;
  background-color: white;
  border-radius: 15px;
  font-size: 1em;
  margin: 4%;
  padding: 2% 5%;
  z-index: 1;
}

.experience-card h3{
  font-weight: bold;
  font-size: 16px;
  padding: 0;
}

.experience-card-sub-header{
  width: 100%;
  margin: 0;
}

.experience-card-sub-header p{
  width: 50%;
  float: left;
  font-size: 12px;
  margin: 0;
}

.experience-card-sub-header-left{
  justify-content: left;
  float: left;
}

.experience-card-sub-header-right{
  text-align: right;
  float: right;
}

.experience-card ul{
  padding: 0;
  margin: 0;
}

.experience-card li {
  font-size: 12px; 
  margin: 0;
  padding: 0;
}

/* CONTACT SECTION */
#contact-section{
  text-align: center;
  padding: 3% 5%;
}

footer {
  text-align: center;
  padding: 1.5% 5%;
}

.footer-icon{
  padding: 2% 1%;
}

/* PORTFOLIO LANDING */
#portfolio-landing {
  background-color: #FFC09F;
}

.img-box{
  width: 50%;
  border-radius: 20px;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(15deg);
  z-index: 0;
  position: relative;
  margin: 2%;
}


@media screen and (max-width: 1200px){
  .img-box {
    transform: rotate(10deg);
  }
}

@media screen and (max-width: 1000px) {
  .skills-header{
    text-align: center;
  }

  .skill-list {
    text-align: center;
  }

  .experience-header{
    text-align: center;
  }

  .experience-card {
    padding: 1% 4%;
    justify-content: center;
  }

  .portfolio-header {
    margin: 10% 15%;
  }

  .portfolio-body {
    margin: 10% 15%;
  }
}

@media screen and (max-width: 680px) {
  .img-box {
    text-align: center;
    transform: rotate(0deg);
    width: 50%;
  }
  .experience-card {
    padding: 1% 5.5%;
    justify-content: center;
  }
}
