/* ---------------- */
/*      GLOBAL      */
/* ---------------- */

* {
  color: #1D1D1D;
  font-family: 'Roboto', sans-serif;
} 

body {
  width: 100vw;
  height: 100vh;
  margin: 0; /* Eliminate margin  */
  overflow-x: hidden;
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  font-size: 4em;
}

h2, h3 {
  font-family: 'Noto Sans', sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

img {
  z-index: -1;
}

.blob-img {
  position: absolute;
  width: 30%;
  z-index: -1;
  margin-left: 5%;
  transform: translateY(-20%);
}

.profile-pic {
  margin-left: 3.5%;
  width: 90%;
  transform: translateY(10%);
}

/* ---------------- */
/*  GLOBAL CLASSES  */
/* ---------------- */

.bg-green {
  background-color: #ADF7B6;
}

.bg-dark-blue {
  background-color: #79ADDC;
}

.btn-custom {
  background-color: #ADF7B6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 15px;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  padding: 1em 2em;
  transition: 0.5s;
}

.btn-custom:hover {
  background-color: #81ca8b;
}

.btn-light-blue {
  background: #93C5FF;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 40px;
}

.btn-light-blue:hover {
  background-color: #79ace5;
}

.btn-outline {
  border: 1px solid #ADF7B6;
  background-color: #fff;
  color: #ADF7B6;
  padding: 10px 40px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.btn-outline:hover {
  background-color: #ADF7B6;
  color: #fff;
}

.col {
  display: block;
  margin: auto;
}

.key-word-dark-blue {
  color: #79ADDC;
}

.key-word-green {
  color: #ADF7B6;
}

.key-word-light-blue{
  color: #93C5FF;
}

.key-word-yellow {
  color: #FFEE93;
}

.key-word-white {
  color: #FFF;
}

/* ---------------- */
/*      NAVBAR      */
/* ---------------- */

.navbar {
  opacity: 0;
  filter: alpha(opacity=0);
  transition: 0.9s;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}

.navbar:hover {
  opacity: 100;
}

/* ---------------- */
/* LANDING SECTION */
/* ---------------- */

#landing-section{
  text-align: left;
}

#landing-description {
  font-size: 1.2rem;
  float: left;
  width: 100%;
}

/* ---------------- */
/* ABOUT ME SECTION */
/* ---------------- */

#about-section {
  background-color: #93C5FF;
}

.about-description {
  font-size: 1em;
  width: 100%;
  padding-bottom: 1.5%;
}


/* ---------------- */
/*   SKILL SECTION  */
/* ---------------- */
.skills-header {
  text-align: right;
}

.skill-list {
  list-style-type: none;
  font-weight: bold;
  font-size: 2em;
}

.skill-list:not(:first-of-type) {
  margin-top: 1.5em;
}

.skill-list:not(:last-of-type) {
  margin-bottom: 1.5em;
}

/* ------------------ */
/* EXPERIENCE SECTION */
/* ------------------ */

.experience-card {
  border: 1px solid white;
  background-color: white;
  border-radius: 15px;
  font-size: 1em;
  margin: 4%;
  padding: 2% 5%;
  z-index: 1;
}

.experience-card h3{
  font-weight: bold;
  font-size: 16px;
  padding: 0;
}

.experience-card-sub-header{
  width: 100%;
  margin: 0;
}

.experience-card-sub-header a, p{
  width: 50%;
  float: left;
  font-size: 12px;
  margin: 0;
  text-decoration: none;
  color: #1D1D1D;
}

.experience-card-sub-header-left{
  justify-content: left;
  float: left;
}

.experience-card-sub-header-right{
  text-align: right;
  float: right;
}

.experience-card ul{
  padding: 0;
  margin: 0;
}

.experience-card li {
  font-size: 12px; 
  margin: 0;
  padding: 0;
}

/* ---------------- */
/* CONTACT SECTION */
/* ---------------- */

#contact-section{
  text-align: center;
  padding: 3% 5%;
  background-color: #fff;
}

footer {
  text-align: center;
  padding: 1.5% 5%;
}

.footer-icon{
  padding: 2% 1%;
}

.footer-link {
  padding: 1.5%;
}

/* ------------------ */
/* PORTFOLIO LANDING */
/* ------------------ */

#portfolio-landing {
  background-color: #FFC09F;
}

#portfolio-section {
  background-color: #fff;
  z-index: 1;
}

.portfolio-description {
  font-size: 1em;
  width: 100%;
  padding-bottom: 1.5%;
}

.img-box{
  border-radius: 20px;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 2% 25%;
  position: relative;
  transform: rotate(15deg);
  width: 50%;
  z-index: 0;
}

/* ---------------- */
/*   MOBILE LAYOUT  */
/* ---------------- */

@media screen and (max-width: 1200px){
  .blob-img {
    width: 25%;
  }
  
  .img-box {
    transform: rotate(10deg);
    margin-left: 20%;
  }
  .navbar{
    filter: alpha(opacity=100);
    opacity: 100;
  }

  .profile-pic {
    margin-left: 5%;
    width: 90%;
    transform: translateY(20%);
  }
}

@media screen and (max-width: 1000px) {
  .skills-header, .skill-list, .experience-header{
    text-align: center;
  }

  .experience-card {
    padding: 1% 6%;
    justify-content: center;
  }

  .portfolio-title {
    font-size: 48px;
    text-align: center;
  }

  .portfolio-header,.portfolio-body  {
    margin: 10% 15%;
  }
}

@media screen and (max-width: 680px) {
  .img-box {
    text-align: center;
    transform: rotate(0deg);
    width: 50%;
    justify-content: center;
  }
  .experience-card {
    padding: 1% 6%;
    justify-content: center;
  }
}
