body {
    width: 100%;
    overflow-x: hidden; /* Get rids of Horizontal Line */
    font-family: 'Heebo', sans-serif;
}
h1{
    font-family: 'Ruda', sans-serif;
    font-weight: bold;
    font-size: 4em;
}

.title-section{
    color: #212529;
    padding: 1.5% 0;
    text-align: center;
    font-size: 3rem;
    font-family: 'Ruda', sans-serif;
}
.white-title-section{
    color: #fff;
    padding: 1.5% 0;
    font-size: 3rem;
    font-family: 'Ruda', sans-serif;
}

/* LANDING SECTION */
#landing-section{
    padding: 20% 5%;
    background-color: #212529;
    color: #fff;
    text-align: center;
}
.landing-paragraph{
    color: #c4c4c4;
    line-height: 0.3;
}

/* ABOUT ME SECTION */
#about-section{
    padding: 3% 5%;
}
.self-img{
    width: 25%;
    transform: translate(140% ,60%);
}

/* SKILL SECTION*/
#skills-section{
    background-image: url("../assets/xray-01.png");
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 3% 5%;
}
.skill-row{
    padding-bottom: 2.5%;
}
.skill-box{
    padding: 3% 5%;
}
.skill-title{
    font-size: 2rem;
    padding: 1.75% 0;
}

/*EXPERIENCE SECTION */
#experience-section{
    background-color: #fff;
    text-align: left;
    padding: 3% 5%;
}
.experience-box{
    width: 50%;
    margin-left: 25%;
}
.exp-location-yr{
    text-align: left;
    display: inline-block;
    line-height: 0.5; 
}
.exp-employer{
    color: #212529;
    text-decoration: none;
}
.column{
    padding-bottom: 5%;
}

/* PROJECT SECTION */
#project-section{
    background-image: url("../assets/xray-03.png");
    background-attachment: fixed;
    background-size: cover;
    padding: 4% 7%;
    text-align: center;
}

/* FOOTER SECTION */
#footer-section{
    text-align: center;
    padding: 3% 5%;
}
.bottom-container{
    padding: 2% 0;
}
.footer-icon{
    color: #212529;
}
